/**************************** GENERAL ****************************/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-right: 0 !important;
}

/**************************** MENU ****************************/
#icono-menu {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index: 1;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.3);
  transition: 0.3s;
}

#icono-menu img {
  height: 2rem;
}

#icono-menu:hover {
  background-color: rgba(200, 200, 200, 0.6);
  transition: 0.3s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #212529;
  overflow-x: hidden;
  white-space: nowrap;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 300;
  color: #818181;
  display: block;
  transition: 0.3s;
}

a.active {
  font-weight: 600;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.logo {
  width: 50px;
  height: 50px;
  position: fixed;
  font-size: 30px;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}

#bandera {
  width: 50px;
  height: 50px;
  position: fixed;
  font-size: 30px;
  right: 1rem;
  bottom: 1rem;
  z-index: 1;
  cursor: pointer;
  transition:  scale .3s ease-in-out;
}

#bandera:hover{
  scale: 1.2;
}
/****************************   MAIN   ****************************/
main {
  min-height: 100vh;
}

.titulo {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin: 1rem;
}

@media only screen and (max-width: 470px) {
  .titulo {
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
}

section {
  height: 100vh;
  margin: auto;
  scroll-snap-align: end;
}

/* *SLIDESHOW */
section div img {
  object-fit: cover;
  max-height: 100vh;
  height: 100%;
  width: 100%;
}

.slideshow__slide {
  display: none;
  height: 100vh;
  width: 100vw;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*      *GRID DE RENDERS      */
.grid {
  padding-bottom: 8px;
}

.row .column img {
  width: 100%;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/*  *MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80vw;
  max-height: 80vh;
}

#caption {
  margin: auto;
  display: block;
  text-align: center;
  color: #fff;
  padding: 10px 0;
}
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.closeModal {
  position: absolute;
  top: 0.5em;
  right: 1em;
  color: #f1f1f1;
  font-size: 4em;
  font-weight: bold;
  transition: 0.3s;
}
.closeModal:hover,
.closeModal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* *RECORRIDOS */
.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.tour {
  margin: 1em;
  border: 1px solid #ccc;
  float: left;
  width: auto;
}

div.tour:hover {
  border: 1px solid #777;
}

div.tour img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 925px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 615px) {
  .galeria {
    grid-template-columns: 1fr;
  }
}

/* *CONTACTO */
.contacto {
  margin: 0 5em;
}

.contacto-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5em 0;
}

.contacto-info-boton {
  display: flex;
  gap: 1em;
  text-decoration: none;
  color: inherit;
  transition:  scale .3s ease-in-out;
}

.contacto-info-boton:hover{
  scale: 1.2;
}

.contacto-info-boton img {
  height: 3em;
}


#quienesSomos{
  text-align: center;
  font-size: 2em;  
}

.texts {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.text-parrafo {
  display: flex;
  align-items: center;
  padding: 0em 15vw;
}

#invertir {
  flex-direction: row-reverse;
}

#invertir img {
  margin-left: 0;
}

.text-parrafo img {
  height: 10em;
}

.text-parrafo p {
  margin: 2em 0em 2em 2em ;
  font-size: 1.3em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: 0.06em;
  line-height: 1.5em;
}

#invertir p{
  margin: 3em 2em 2em 0em;
}

@media only screen and (max-width: 1050px){
  .text-parrafo {
    padding: 0;
  }
}

@media only screen and (max-width: 650px) {
  .contacto-info {
    flex-direction: column;
    gap: 2em;
    align-items: baseline;
  }

  .text-parrafo img {
    height: 5em;
  }
  .text-parrafo p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 450px) {
  .text-parrafo, #invertir {
    flex-direction: column;
  }
  .text-parrafo p, #invertir p {
    margin: 2em 0em;
  }
}

/* *OTRAS SECCIONES */
.video-full {
  object-fit: cover;
  max-height: 100vh;
  /* height: 100%; */
  width: 100%;
}

.imagen-texto {
  height: 100vh;
  display: flex;
}

.imagen-texto__frase {
  width: 50%;
  font-style: italic;
  padding: 0 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  text-align: center;
}
.imagen-texto__render {
  padding: 5em;
}

.fondo-fijo-1 {
  height: 100vh;
  background-image: url("../images/renders/B-01.webp");
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo-fijo-2 {
  height: 100vh;
  background-image: url("../images/renders/D-02.webp");
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .imagen-texto {
    flex-direction: column;
  }

  .imagen-texto__frase {
    width: auto;
    display: inline-block;
    padding: 1em 1em;
  }

  .imagen-texto__render {
    padding: 0;
  }
}

/**************************** GENERAL ****************************/
/**************************** GENERAL ****************************/
/**************************** FOOTER ****************************/
footer {
  color: white;
  background-color: #212529;
  padding: 1.5rem;
  scroll-snap-align: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-rrss ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 2em;
  padding: 0;
  margin-right: 4em;
}

.footer-rrss ul li a img {
  height: 2em;
  transition:  scale .3s ease-in-out;
}

.footer-rrss ul li a img:hover{
  scale: 1.2;
}

@media only screen and (max-width: 800px) {
  footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
  }

  .footer-text{
    margin: 0 5em;
  }

  .footer-rrss ul {
    margin-right: 0;
  }
}

@media only screen and (max-width: 400px) {
  .footer-text{
    margin: 0 3em;
  }
  .footer-rrss ul{
    gap: 0.7em;
    margin: 0 1em;
  }
}
