/**************************** GENERAL ****************************/
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none; 
  padding-right: 0 !important;
}

/**************************** MENU ****************************/
#icono-menu {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index: 1;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.3);
  transition: 0.3s;
}

#icono-menu img{
  height: 2rem;
}

#icono-menu:hover {
  background-color: rgba(200, 200, 200, 0.6);
  transition: 0.3s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #212529;
  overflow-x: hidden;
  white-space: nowrap;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 300;
  color: #818181;
  display: block;
  transition: 0.3s;
}

a.active {
  font-weight: 600;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.logo {
  width: 50px;
  height: 50px;
  position: fixed;
  font-size: 30px;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}

#bandera {
  width: 50px;
  height: 50px;
  position: fixed;
  font-size: 30px;
  right: 1rem;
  bottom: 1rem;
  z-index: 1;
  cursor: pointer;
}
/****************************   MAIN   ****************************/
main{
  min-height: 100vh;
}

.titulo{
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin: 1rem;
}

@media only screen and (max-width: 470px) {
  .titulo{
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
}

section {
  height: 100vh;
  margin: auto;
  scroll-snap-align: end;
}

/* *SLIDESHOW */

section div img {
  object-fit: cover;
  max-height: 100vh;
  height: 100%;
  width: 100%;
}

.slideshow__slide {
  display: none;
  height: 100vh;
  width: 100vw;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* *OTRAS SECCIONES */

.video-full {
  object-fit: cover;
  max-height: 100vh;
  /* height: 100%; */
  width: 100%;
}

.imagen-texto {
  height: 100vh;
  display: flex;
}

.imagen-texto__frase {
  width: 50%;
  font-style: italic;
  padding: 0 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  text-align: center;
}
.imagen-texto__render {
  padding: 5em;
}

.fondo-fijo-1 {
  height: 100vh;
  background-image: url("../images/renders/B-02.webp");
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo-fijo-2 {
  height: 100vh;
  background-image: url("../images/renders/C-01.webp");
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .imagen-texto{
    flex-direction: column;
  }

  .imagen-texto__frase {
    width: auto;
    display: inline-block;
    padding: 1em 1em;
  }

  .imagen-texto__render {
    padding: 0;
  }
}


/**************************** GENERAL ****************************/
/**************************** GENERAL ****************************/
/**************************** FOOTER ****************************/
footer {
  color: white;
  background-color: #212529;
  padding: 2rem;
  scroll-snap-align: end;
}